@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #4d6d9a;
    color: #f9faf8;
}

img {
    width: 100%;
    height: auto;
}